.chrome_profile*/
.vercel/
__pycache__/
bulletin_final.html
exemple_*.html
exports_csv/
temp_captures/
meteociel_obs_data.json
test.json
svg_dump.html
carte_jours_suivants_page_*.png
vigilance_carte.png
vigilance_output.txt
.vercel

.chrome_profile_*
output_tiktok/
*.mp4
output_bulletins/
temp_*/
